<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-container {
            max-width: 600px;
            overflow-y: auto;
            margin: auto;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container custom-container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h3>관리자 페이지</h3>
        <a class="btn btn-secondary"
           href="/">←</a>
    </div>
    <hr>
    <table th:if="${!posts.isEmpty()}" class="table text-center">
        <thead>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>대상 사용자</th>
            <th>상세보기</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.getTitle()}">Post Title</td>
            <td th:if="${post.getAnnonyYn() == false}" th:text="${post.getWriter}">Anonymous</td>
            <td th:if="${post.getAnnonyYn()}"><em>익명</em></td>
            <td th:text="${post.room.user.name}">User Name</td>
            <td><a th:href="@{'/room/' + ${post.room.id} + '/post/' + ${post.id} + '/view'}">자세히...</a></td>
            <td>
                <form th:action="@{/admin/delete}" method="post">
                    <input type="hidden" name="postId" th:value="${post.id}"/>
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${posts.isEmpty()}">
        <p>작성한 글이 없습니다.</p>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>