<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>마이페이지</title>
</head>
<body>
<h2>내 정보 수정</h2>
<form th:action="@{/mypage/update}" method="post" enctype="multipart/form-data">
    <label for="profileImage">Profile Image:</label>
    <input type="file" id="profileImage" name="profileImage">
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" name="nickname" th:value="${user.nickname}">
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">저장</button>
</form>
<a href="/mypage">취소</a>
</body>
</html>