<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 사진 변경</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <style>
        .custom-container {
            max-width: 600px;
            overflow-y: auto; /* 수직 스크롤바 활성화 */
            margin: auto; /* 컨테이너를 가운데 정렬 */
            padding: 20px; /* 더 나은 외관을 위한 패딩 추가 */
        }
    </style>
</head>
<body>
<div class="container custom-container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <form th:action="@{/mypage/updateProfilePicture}" th:object="${user}" method="post" enctype="multipart/form-data">

        <div class="d-flex justify-content-between align-items-center mt-5">
            <h3>프로필 사진 변경</h3> <!-- Back button added here -->
            <a class="btn btn-secondary" href="/mypage">←</a>
        </div>
        <hr>
        <div class="d-flex justify-content-center mb-4">
            <img id="selectedAvatar" th:src="|/images/*{profileImage}|"
                 class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;"
                 alt="프로필 사진"/>
        </div>
        <div class="d-flex justify-content-center">
            <div class="btn btn-primary btn-rounded">
                <label class="form-label text-white m-1" for="multipartFile">프로필 사진 선택</label>
                <input type="file" class="form-control d-none"
                       accept="image/gif, image/png, image/jpeg, image/jpg"
                       id="multipartFile"
                       th:field="*{multipartFile}"
                       onchange="displaySelectedImage(event, 'selectedAvatar')"/>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary btn-block btn-flat">
            사진 변경
        </button>
    </form>
</div>

<script>
    // Function to display selected image
    function displaySelectedImage(event) {
        const selectedImage = document.getElementById('selectedAvatar');
        selectedImage.style.display = 'block';
        selectedImage.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>