<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>비밀번호 변경</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<style>
    .custom-container {
        max-width: 600px;
        overflow-y: auto; /* 수직 스크롤바 활성화 */
        margin: auto; /* 컨테이너를 가운데 정렬 */
        padding: 20px; /* 더 나은 외관을 위한 패딩 추가 */
    }

    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<div class="container custom-container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h3>비밀번호 변경</h3>
        <a class="btn btn-secondary"
           href="/mypage">←</a>
    </div>
    <hr>
    <form th:action="@{/mypage/updatePassword}" th:object="${user}" method="post">
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" th:field="*{password}"
                   th:errorclass="field-error" placeholder="비밀번호" required>
            <label for="password" class="text-secondary">새로운 비밀번호</label>
            <div class="field-error text-sm-start small" th:errors="*{password}">
                비밀번호 오류
            </div>
        </div>
        <button class="btn btn-primary"
                type="submit">비밀번호 변경
        </button>
        <a class="btn btn-primary"
           href="/mypage">취소</a>
    </form>
</div>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.esm.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="https://kit.fontawesome.com/bdbb2968c3.js" crossorigin="anonymous"></script>
</body>
</html>