<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body class="text-center">
<main class="form-signin">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <form th:action th:object="${user}" method="post" name="login">
        <img class="mb-4" src="/img/Hanwha_logo.svg" alt="" width="200" height="100">

        <div class="mb-1 form-floating">
            <input type="text" class="form-control mb-3" id="loginId" th:field="*{loginId}"
                   th:errorclass="is-invalid" placeholder="아이디" required>
            <label for="loginId" class="text-secondary"><i class="fa-solid fa-user"> 아이디</i></label>
            <div class="field-error text-sm-start small" th:errors="*{loginId}">
                아이디 오류
            </div>
        </div>

        <div class="mb-3 form-floating">
            <input type="password" class="form-control mb-1" id="password" th:field="*{password}"
                   th:errorclass="field-error" placeholder="비밀번호" required>
            <label for="password" class="text-secondary"><i class="fa-solid fa-lock"> 비밀번호</i></label>
            <div class="field-error text-sm-start small" th:errors="*{password}">
                비밀번호 오류
            </div>
        </div>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="mb-3 field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
    </form>
    <hr>
    <p class="text-center text-muted mt-2 mb-0">계정이 없으신가요?
        <a href="/join/step1" class="fw-bold text-body"><u>회원가입</u></a></p>

    <p class="text-center text-muted mt-2 mb-0">비밀번호를 잊어버리셨나요?
        <a href="/password/step1" class="fw-bold text-body"><u>비밀번호 찾기</u></a></p>
    <div th:replace="~{fragments/footer :: footer}"></div>
</main>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/bdbb2968c3.js" crossorigin="anonymous"></script>
</body>
</html>