<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>메인 페이지</title>z
</head>
<body>

<div th:object="${user}" class="form-signin text-center">

    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <h3><a th:href="@{/speaker}">확성기</a></h3>

    <h5>확성기 내용:</h5>
    <div th:text="${speakerContent}"></div>
    <hr>

    <h3>메인 페이지</h3>
    <img th:src="|/images/*{profileImage}|" width="100" height="100"/>
    <div th:text="*{role}"></div>
    <div th:text="*{nickname}"></div>
    <div th:text="*{name}"></div>
    <div th:text="*{gitEmail}"></div>
    <div th:text="*{createdDate}"></div>


    <a href="/mypage" class="w-100 btn btn-lg btn-secondary mb-3">마이페이지</a>


    <form action="/logout" method="post">
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <button class="w-100 btn btn-sm btn-primary" type="submit">로그아웃</button>
    </form>

    <!--    <ul th:each="r : ${roomList}">-->
    <!--        <li><a th:href="@{'/room/'+${r.id}+'/view'}" th:text="${r.roomName}"></a></li>-->
    <!--    </ul>-->

    <hr>

    <div class="card" style="width: 18rem;"
         th:each="r : ${roomList}">
        <img th:src="|/images/${r.profileImage}|"/>
        <div class="card-body">
            <h5 class="card-title" th:text="${r.roomName}">Card title</h5>
            <p class="card-text" th:text="${r.introduction}"></p>
            <a th:href="@{'/room/'+${r.id}+'/view'}" class="btn btn-primary" th:text="'방 더보기'">Go somewhere</a>
        </div>
    </div>


    <div th:if="${user.role.name() == 'ROLE_ADMIN'}">
        <a href="/admin" class="w-70 btn btn-lg btn-secondary mb-3">관리자 페이지</a>
    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.esm.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>