<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <style>
        .edit-btn {
            margin-left: 10px;
            color: #007bff;
            text-decoration: none;
        }

        .edit-btn:hover {
            text-decoration: underline;
        }

        .custom-container {
            max-width: 600px;
            overflow-y: auto; /* 수직 스크롤바 활성화 */
            margin: auto; /* 컨테이너를 가운데 정렬 */
            padding: 20px; /* 더 나은 외관을 위한 패딩 추가 */
        }

        .back-btn {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container custom-container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div class="d-flex justify-content-between align-items-center mt-5">
        <h3>마이페이지</h3> <!-- Back button added here -->
        <a class="btn btn-secondary" href="/">←</a>
        </a>
    </div>
    <hr>
    <div>
        <img th:if="${user.profileImage}" th:src="@{'/images/' + ${user.profileImage}}" alt="Profile Image" width="100"
             height="100">
        <a href="/mypage/profileImgEdit" class="edit-btn">프로필사진 수정</a>
    </div>
    <p><strong>이름 : </strong><span th:text="${user.name}">Name</span></p>
    <p><strong>닉네임 : </strong><span th:text="${user.nickname}">Nickname</span> <a href="/mypage/nicknameEdit"
                                                                                  class="edit-btn">닉네임 수정</a>
    </p>
    <p><strong>깃허브 이메일 : </strong><span th:text="${user.gitEmail}">Email</span></p>
    <p><strong>가입일자 : </strong><span th:text="${user.createdDate}">CreatedDate</span></p>

    <a href="/mypage/pwdEdit" class="edit-btn">비밀번호 수정</a>
    <a href="/mypage/myposts" class="edit-btn">내가 쓴글 보기</a>
    <hr>
</div>
</body>
</html>
