<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내가 쓴글</title>

</head>
<body>
<div class="container">
    <h2>내가 쓴 글</h2>
    <div th:if="${myPosts.isEmpty()}">
        <p>작성한 글이 없습니다.</p>
    </div>
    <div th:if="${!myPosts.isEmpty()}">
        <ul>
            <li th:each="post : ${myPosts}">
                <span th:text="${post.title}">Post Title</span>
                <span th:text="${post.room.user.name}">Post Title</span>

                <a th:href="@{'/room/' + ${post.room.id} + '/post/' + ${post.id} + '/view'}">View</a>
            </li>
        </ul>
    </div>
</div>
    <div class="btn">
        <button><a th:href="'/mypage'">←</a></button>
    </div>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내가 쓴 글</title>
</head>
<body>
<div class="container">
    <h2>내가 쓴 글</h2>
    <div th:if="${myPosts.isEmpty()}">
        <p>작성한 글이 없습니다.</p>
    </div>
    <table th:if="${!myPosts.isEmpty()}">
        <thead>
            <tr>
                <th>제목</th>
                <th>작성한 방</th>
                <th>상세보기</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${myPosts}">
                <td th:text="${post.title}">Post Title</td>
                <td th:text="${post.room.user.nickname}">User Name</td>
                <td><a th:href="@{'/room/' + ${post.room.id} + '/post/' + ${post.id} + '/view'}">     View</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="btn">
    <button><a th:href="'/mypage'">←</a></button>
</div>
</body>
</html>
