<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-container {
            max-width: 600px;
            overflow-y: auto; /* 수직 스크롤바 활성화 */
            margin: auto; /* 컨테이너를 가운데 정렬 */
            padding: 20px; /* 더 나은 외관을 위한 패딩 추가 */
        }
    </style>
    <script>
        function validateForm() {
            var title = document.getElementById("title").value;
            var content = document.getElementById("content").value;

            if (title.trim() === '' || content.trim() === '') {
                alert("모든 필드를 작성해주세요.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div class="container custom-container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div class="d-flex justify-content-between align-items-center mt-5">
        <h3>글 작성</h3>
        <a class="btn btn-secondary"
           th:href="'/room/' + ${room_id} + '/view'">←</a>
    </div>
    <hr>
    <form th:action="@{'/room/' + ${room_id} + '/post/save'}" th:object="${post}" method="post">
        <div class="form-group">
            <label for="title"><strong>제목</strong></label>
            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="글의 제목을 입력하세요"
                   required>
        </div>
        <div class="form-group">
            <label for="authorName"><strong>작성자</strong></label>
            <input type="text" class="form-control" id="authorName" th:field="*{writer}" readonly>
        </div>

        <div class="form-group">
            <label for="content"><strong>내용</strong></label>
            <textarea class="form-control" id="content" rows="6" th:field="*{content}"
                      placeholder="글을 작성하세요" required></textarea>
        </div>

        <div class="form-group">
            <label for="annonyYn"><strong>익명 여부:</strong></label>
            <input type="checkbox" id="annonyYn" th:field="*{annonyYn}" th:checked="*{annonyYn}"
                   cam-variable-type="Boolean"
                   checked><br>
        </div>
        <!--        익명-->
        <!--        <div class="form-group">-->
        <!--            <label for="publicYn"><strong>공개 여부:</strong></label>-->
        <!--            <input type="checkbox" id="publicYn" th:field="*{publicYn}" th:checked="*{publicYn}"-->
        <!--                   cam-variable-type="Boolean"-->
        <!--                   checked><br>-->
        <!--        </div>-->


        <div class="form-group">
            <label for="category"><strong>카테고리:</strong></label>
            <select id="category" name="category" class="form-control">
                <option value="CLAIMS" th:field="*{category}">Claims</option>
                <option value="COMPLIMENT" th:field="*{category}">Compliment</option>
                <option value="FREE" th:field="*{category}">Free</option>
            </select>
        </div>

        <div class="form-row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary"
                        onclick="return validateForm()">글 작성
                </button>
            </div>
            <div class="col-3">
                <a type="button" class="btn btn-secondary" th:href="'/room/' + ${room_id} + '/view'">
                    취소
                </a>
            </div>
        </div>
    </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>