<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <button><a th:href="@{/}">←</a></button>
    <button th:if="${roomInfo.getLoginId().equals(userInfo.getLoginId())}"><a th:href="@{/}">my page</a>
    </button>

    <div>
        <img th:src="|/images/${roomInfo.profileImage}|" width="300" height="300"/>
    </div>
    <div class="room-info">
        <p th:text="${roomInfo.getRoomName()}"></p>
        <div th:text="${roomInfo.getIntroduction()}"></div>
        <div th:if="${roomInfo.getLoginId().equals(userInfo.getLoginId())}"
             th:text="'솔방울 개수 : '+${userInfo.getSolbangul()}">solbangul
        </div>
        <button th:if="${roomInfo.getLoginId().equals(userInfo.getLoginId())}"><a
                th:href="@{'/room/'+${roomInfo.getId()}+'/edit'}">방 수정하기</a></button>
    </div>
    <hr>
    <div class="posts-btn">
        <div></div>
        <div></div>
        <button th:if="${!roomInfo.getLoginId().equals(userInfo.getLoginId())}"><a
                th:href="@{'/room/'+${roomInfo.id}+'/post/save'}">글 쓰기</a></button>
        <button><a th:href="@{'/room/'+${roomInfo.id}+'/view_posts'}">글 더보기 ...</a></button>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>