<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    
</head>
<body>
<div class="container">
    <h2>전체 글 목록</h2>
    <div th:if="${posts.empty}">
        <p>작성한 글이 없습니다.</p>
    </div>
    <div th:if="${not posts.empty}">
        <ul>
            <li th:each="post : ${posts}">
                <span th:text="${post.title}">Post Title</span>
                
                <a th:href="@{/post/view/{id}(id=${post.id})}">View</a> //변경필요
            </li>
        </ul>
    </div>
</div>
</body>
</html>